@import "../../_theme_variables";
@import "../../_elements_variables";

.star {
  display: block;
  position: relative;
  top: -1px;
  float: left;
  width: 15px;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  a {
    display: block;
    position: absolute;
    text-indent: -5000px;
  }
  &:after {
    @include addIcon('\e838');
    color: #e5e4e3;
    font-family: $flat-icon;
  }
  &.star_on {
    &:after {
      @include addIcon('\e838');
      color: #e7d45a;
      font-family: $flat-icon;
    }
  }
  &.star.star_hover {
    cursor: pointer;
    &:after {
      @include addIcon('\e838');
      color: $color-warning;
      font-family: $flat-icon;
    }
  }
}

#product_comments_block_extra {
  .comments_note {
    margin-bottom: 5px;
  }
  .comments_note span,
  .star_content {
    float: left;
    color: $base-text-color;
  }
  .star_content {
    margin-top: 1px;
  }
  .comments_advices {
    clear: both;
  }
}

.comments_advices {
  padding-top: 2px;
  li {
    display: inline-block;
    line-height: 30px;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      //min 768px max 991px
      display: block;
      line-height: 20px;
    }
  }
  a {
    text-decoration: none;
    color: $base-body-color;
    position: relative;
    margin-right: 8px;
    line-height: 30px;
    padding: 0;
    display: inline-block;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      //min 768px max 991px
      float: none;
      line-height: 20px;
    }
    &:before {
      background: $base-box-bg;
      @include border-radius(100%);
      color: $dark-text-color;
      font-size: 15px;
      font-weight: normal;
      height: 30px;
      line-height: 30px;
      margin-right: 6px;
      text-align: center;
      width: 30px;
      /*max 1199px*/
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
    &.reviews:before {
      @include addIcon('\f0e5');
    }
    &.open-comment-form:before {
      @include addIcon('\f040');
    }
    &:hover {
      &:before {
        background: $dark-background;
        color: $light-text-color;
      }
    }
    &.reviews {
      padding-right: 30px;
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        // min 768 max 991
        padding: 0;
      }
    }
  }
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px;
}

#fancybox-content {
  width: 585px;
  border-width: 0;
}

#new_comment_form {
  overflow: hidden;
  color: $base-text-color;
  text-align: left;
  h2 {
    margin-bottom: 10px;
  }
  .title {
    padding: 10px;
    font-size: 13px;
    color: $light-text-color;
    text-transform: uppercase;
    background: $dark-background;
  }
  ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0;
    li {
      width: 50%;
    }
    span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold;
    }
    .cancel {
      margin-right: 5px;
    }
  }
  .product {
    padding: 15px 30px 15px 15px;
    @media (max-width: $screen-xs-max) {
      padding-right: 15px;
    }
    img {
      border: $main_border;
      margin-bottom: 20px;
    }
  }
  .new_comment_form_content {
    @include box-style;
    margin-left: -15px;
    @media (max-width: $screen-xs-max) {
      //max 767px
      padding-left: 35px;
      padding-right: 35px;
      margin-left: 0;
    }
    .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px;
    }
  }
  label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
  }
  input,
  textarea {
    width: 100%;
    background: $light-background;
  }
  textarea {
    height: 80px;
  }
  .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right;
  }

  #criterions_list {
    border-bottom: $main_border;
    padding-bottom: 15px;
    list-style-type: none;
    li {
      margin-bottom: 10px;
    }
    label {
      display: inline;
      float: left;
      margin: 0 10px 0 0;
    }
    .star_content {
      float: left;
    }
  }
  #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
  }
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
  margin: 0 0 20px 0;
  div.comment {
    margin: 0 0 14px;
    padding-top: 14px;
    border-top: 1px solid $base-border-color;
    &:first-child {
      padding: 0;
      border: none;
    }
    .comment_author {
      padding: 0 20px;
      line-height: 18px;
      span {
        font-weight: bold;
        float: left;
      }
      .star_content {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 5px;
      }
    }
    .comment_details {
      overflow: hidden;
      border-left: $main_border;
      @media (max-width: $screen-sm-max) {
        //max 767px
        border-left: none;
        ul {
          list-style-type: none;
          margin: 0;
          li {
            padding: 2px 0 2px;
            &:before {
              font-family: $font-icon;
              content: "\f0da";
              color: $base-text-color;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  .comment_author_infos {
    clear: both;
    padding-top: 9px;
    strong {
      display: block;
      color: $base-text-color;
    }
    em {
      color: #adadad;
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }

  span.report_btn {
    cursor: pointer;
  }
  span.report_btn:hover {
    text-decoration: underline;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}
